<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>@gchapim's Currency Chart</title>

      <script src="https://code.highcharts.com/highcharts.js"></script>
    </head>

    <body>
    <h1>BRL Exchanger</h1>

    <div>
      <p>This is a chart showing currencies for Brazilian Real based on European Central Bank API.<br/>
      The values are updated and shown for the last working days.<br/><br/>
      Hope you enjoy</p>
    </div>
    <% @messages.each do |type, message| %>
      <span><%= type + ' - ' + message %></span><br/>
    <% end if @messages.present? %>
      <div id="container" style="width:100%; height:400px;"></div>
      <div style="width:100%;text-align:center;">
        <% @quotes.each_key do |key| %>
          <button id='button_<%= key.to_s %>'><%= @currency_names[key] %></button>
        <%end%>
      </div>
      <script>
          var myChart = Highcharts.chart('container', {
            title: {
              text: 'BRL Exchange Rates'
            },
            xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                day: '%Y-%m-%d'
              },
              categories: [<% @quotes.first[1].keys.each do |key| %>
                           <%= "'".concat(key).concat("',").html_safe %>
                            <% end %>]

            },
            yAxis: {
              title: {
                text: 'BRL'
              }
            },
            series: [
              <% @quotes.each_with_index do |(currency, value), i| %>{
                  <%= 'visible: false,' unless i==0 %>
                  name: "<%= @currency_names[currency] %>",
                  data: [<% value.each do |date, rate| %> <%=if currency == :BRL then rate.round(2) else (@quotes[:BRL][date] / rate).round(2) end%>, <%end%>]
              },<%end%>]
          });
      </script>
    </body>
</html>
